.attention-grabber {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 320px;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.attention-grabber--index {
  height: 395px;
}

.attention-grabber__pitch-text {
  margin: 0px;
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: @font-size-double;
  color: @text-color-light;
}
