.download-links {
  background-color: @background-dark;
  box-sizing: border-box;
  height: 275px;
  width: 320px;
  padding-top: 32px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;

  @media (min-width: @tablet-width) {
    background-color: #00000000;
    position: absolute;
    top: 235px;
    left: 50%;
    margin-left: -330px;
    margin-right: 0;
    padding-right: 320px;
    width: 660px;
    height: 330px;
  }

  @media (min-width: @desktop-width) {
    top: 420px;
    padding-right: 640px;
    height: 340px;
    width: 960px;
    margin-left: -480px;
  }
}

.download-links__signal-text {
  box-sizing: border-box;
  width: 280px;
  text-align: center;

  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 16px;
  letter-spacing: 0.14ch;
  color: @background-light;
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 14px;
  border: 3px solid @background-light;
  border-radius: 100px;
  align-self: center;

  @media (min-width: @tablet-width) {
    width: 300px;
    font-size: 18px;
    letter-spacing: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 21px;
    letter-spacing: 0;
    padding-top: 9px;
    padding-bottom: 13px;

    position: relative;
    top: -2px;
  }
}

.download-links__os-links {
  box-sizing: border-box;
  width: 280px;

  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: space-around;
  padding-top: 35px;

  @media (min-width: @tablet-width) {
    width: 240px;
    padding: 0;
    padding-top: 10px;
    align-self: center;
  }

  @media (min-width: @desktop-width) {
    padding-top: 45px;
  }
}

.download-links__apple-link {
  background-image: url("../img/logo-apple.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  width: 50px;
  position: relative;
  top: -5px;

  @media (min-width: @tablet-width) {
    top: 0;
  }

  @media (min-width: @desktop-width) {
    top: -5px;
  }
}

.download-links__android-link {
  background-image: url("../img/logo-android.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  width: 50px;
}

.download-links__windows-link {
  background-image: url("../img/logo-microsoft.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  width: 50px;
}

.download-links__clarification-text {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: @font-size-normal;
  color: @text-color-light;
  letter-spacing: -0.04ch;
  line-height: 1.7;
  width: 280px;
  padding-top: 3px;
  align-self: center;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-family: "OpenSansLight", "Arial", sans-serif;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0;
    width: 300px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    font-size: @font-size-bigger;
    padding-top: 25px;
    margin-bottom: 5px;
    line-height: 1.3;
  }
}
