.featured-container {
  box-sizing: content-box;
  background-color: @background-light;
  margin-bottom: -3px;

  @media (min-width: @tablet-width) {
    width: 660px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    justify-content: space-between;
    padding-right: 0;

    margin-bottom: -85px;
  }
}

.featured {
  width: 100%;
  background-color: #ffffff;
}
