.feature-block {
  width: 320px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background-color: @background-light;
  padding-top: 10px;
  padding-bottom: 1px;
}

.feature-block__header-line {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: @font-size-double;
  font-weight: lighter;
  color: @text-color-dark;
  margin-top: 30px;
}

.feature-block__feature-list {
  list-style-type: none;
  background-color: @background-tinted;
  padding-left: 25px;
  padding-right: 25px;
}

.feature-block__feature-name {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: @font-size-bigger;
  color: @text-color-dark;
  line-height: 0.8;
}

.feature-block__feature-text {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: @font-size-normal;
  letter-spacing: 0.04ch;
  color: @text-color-dark;
  line-height: 1.7;
  margin-bottom: 35px;
}
