.page-main {
  position: relative;
}

.page-main__identifier-comtainer {
  height: 170px;
  box-sizing: border-box;
  padding-top: 12px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media (min-width: @tablet-width) {
    height: auto;
    padding-top: 72px;
    padding-bottom: 141px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  @media (min-width: @desktop-width) {
    padding-top: 64px;
    padding-bottom: 102px;
    padding-left: 15px;
  }
}

.page-main__page-identifier {
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-weight: 200;
  font-size: 22px;
  line-height: 1.3;
  letter-spacing: 0.08ch;
  color: @text-color-light;
  width: 250px;

  @media (min-width: @tablet-width) {
    font-size: 46px;
    letter-spacing: 0.08ch;

    width: 400px;
    align-self: flex-start;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    left: 1px;
    top: -2px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    left: -6px;
    top: 0;
  }
}

.page-main__incentive-container {
  height: 184px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 30px;
  background-color: #ffffff;
  text-align: center;

  @media (min-width: @tablet-width) {
    height: 225px;
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    height: 240px;
  }
}

.page-main__incentive-text {
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: @font-size-normal;
  letter-spacing: 0.04ch;
  line-height: 2.15;
  color: @text-color-dark;
  width: 250px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    font-family: "OpenSans", "Arial", sans-serif;
    letter-spacing: 0;
    font-size: 18px;
    width: 500px;
    margin-top: 60px;
    line-height: 1.7;
  }

  @media (min-width: @desktop-width) {
    width: 600px;
  }
}
