.page-footer {
  box-sizing: border-box;
  height: 285px;
  background-color: @background-light;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer__social-links {
  list-style: none;
  margin-top: inherit;
  margin-bottom: inherit;
}

.page-footer__link-container {
  border: 3px solid #e7e8ea;
  border-radius: 100px;
  height: 45px;
  width: 45px;
}

.page-footer__signatuer-text {
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: @font-size-normal;
  letter-spacing: 0.04ch;
}
