.page-header {
  @background-header: #293646;
  background-color: @background-header;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
}

.page-header__top-block {
  height: 69px;
  border-bottom: 1px solid #000407;
}

.page-header__menu-button {
  background-color: @background-header;
  background-image: url("../img/icon-menu-burger.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 28px;
}

.page-header__menu {
  list-style-type: none;
}

.page-header__menu-item {
  box-sizing: border-box;
  height: 64px;
  border-bottom: 1px solid #000407;
  border-top: 1px solid #4a555b;
  padding-top: 20px;

  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: @font-size-bigger;
  color: @text-color-light;
  text-decoration: none;
  text-transform: uppercase;
}
