.submit-button {
  box-sizing: border-box;
  width: 100%;
  height: 105px;
  background-color: @background-light;

  position: relative;

  @media (min-width: @tablet-width) {
    height: 170px;
    padding-top: 57px;
    margin-bottom: -1px;
  }
}

.submit-button__button {
  box-sizing: border-box;
  width: 280px;
  height: 63px;

  position: absolute;
  left: 50vw;
  margin-left: -140px;

  border: none;
  background-color: #2aab6d;

  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: @font-size-bigger;
  color: @text-color-light;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-left: -310px;
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    margin-left: -470px;

    width: 300px;
  }
}
