.tariffs {
  height: 450px;
  background-color: @background-tinted;
  overflow: hidden;
  position: relative;

  @media (min-width: @tablet-width) {
    height: 325px;
  }

  @media (min-width: @desktop-width) {
    height: 435px;
  }
}

.tariffs__table-container {

}

.tariffs__table {

}

.tariffs__cell {
  width: 300px;
}

.tariffs__empty-cell {
  display: none;
}

.tariffs__cell--row-name {
  display: none;
}

.tariffs__table tr {

}
