.tariffs {
  box-sizing: border-box;
  height: 450px;
  padding-top: 65px;

  background-color: @background-tinted;
  overflow: hidden;
  position: relative;

  @media (min-width: @tablet-width) {
    height: 325px;
    padding-top: 35px;
  }

  @media (min-width: @desktop-width) {
    height: 435px;
    padding-top: 57px;
  }
}

.tariffs__table-row {
  display: flex;
  position: relative;
  left: -419px;
  margin-left: 50vw;

  @media (min-width: @tablet-width) {
    left: -310px;
  }

  @media (min-width: @desktop-width) {
    left: -473px;
  }
}

.tariffs__cell {
  box-sizing: border-box;
  width: 278px;
  height: 60px;
  border: 1px solid #e5e5e5;
  padding-top: 19px;
  padding-left: 22px;
  padding-right: 20px;
  flex-shrink: 0;
  background-color: @background-light;
  position: relative;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: @font-size-normal;
  color: @text-color-dark;
  text-transform: uppercase;

  text-align: left;

  @media (min-width: @tablet-width) {
    width: 154px;
    height: 47px;

    text-align: center;
  }

  @media (min-width: @desktop-width) {
    width: 235px;
    height: 61px;
  }
}

.tariffs__table-row:first-child .tariffs__cell {
  height: 100px;
  background-color: @text-color-dark;
  color: @text-color-light;
  padding-top: 18px;
  margin-top: 0;
  margin-bottom: 0;

  text-align: center;

  @media (min-width: @tablet-width) {
    height: 79px;
  }

  @media (min-width: @desktop-width) {
    height: 98px;
  }
}

.tariffs__cell--empty {
  display: none;

  @media (min-width: @tablet-width) {
    display: initial;
    opacity: 0;
  }
}

.tariffs__cell--row-name {
  display: none;

  @media (min-width: @tablet-width) {
    display: initial;

    font-family: "OpenSans", "Arial", sans-serif;
    font-size: @font-size-normal;
    color: @text-color-dark;
    text-transform: none;

    text-align: left;
    padding-left: 14px;
    padding-top: 11px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    padding-left: 22px;
    padding-top: 18px;
  }
}

.tariffs__mark {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-left: auto;

  position: absolute;
  top: 15px;
  right: 19px;

  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.tariffs__mark--check {
  height: 23px;
  width: 31px;
  right: 17px;

  background-image: url("../img/icon-yes.svg");
  filter: invert(61%) sepia(90%) saturate(381%) hue-rotate(72deg) brightness(87%) contrast(93%);

  @media (min-width: @tablet-width) {
    height: 22px;
    width: 31px;
    top: 10px;
    right: 60px;
  }

  @media (min-width: @desktop-width) {
    top: 20px;
    right: 100px;
  }
}

.tariffs__mark--cross {
  height: 26px;
  width: 26px;


  background-image: url("../img/icon-no.svg");
  filter: invert(45%) sepia(55%) saturate(3977%) hue-rotate(348deg) brightness(100%) contrast(91%);

  @media (min-width: @tablet-width) {
    height: 27px;
    width: 27px;
    top: 8px;
    right: 62px;
  }

  @media (min-width: @desktop-width) {
    top: 17px;
    right: 102px;
  }
}

.tariffs__tariff-name {
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: @font-size-bigger;
  color: @text-color-light;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    position: relative;
    bottom: 3px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    bottom: 0;
  }
}

.tariffs__tariff-price {
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: @font-size-double;
  color: @text-color-light;
  text-transform: uppercase;

  position: relative;
  top: 4px;
  right: 1px;

  @media (min-width: @tablet-width) {
    font-size: @font-size-bigger;
    top: 1px;
  }

  @media (min-width: @desktop-width) {
    font-size: @font-size-double;
    top: 4px;
  }
}

.tariffs__mobile-text {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.tariffs__switches-container {
  box-sizing: border-box;
  height: 12px;
  width: 62px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.tariffs__circles {
  height: 12px;
  width: 12px;
}

.tariffs__big-circle {
  fill: @background-tinted;
  stroke: @background-tinted;
  cx: 50%;
  cy: 50%;
  r: 50%;
  stroke-width: 0;
}

.tariffs__small-circle {
  fill: #bec2c7;
  stroke: #bec2c7;
  cx: 50%;
  cy: 50%;
  r: 23%;
  stroke-width: 0;
}

.tariffs__switch--active .tariffs__big-circle {
  fill: @text-color-dark;
}

.tariffs__switch--active .tariffs__small-circle {
  fill: @text-color-light;
}

.tariffs__cell--hit {
  background-image: url("../img/bg-hit.svg");

  @media (min-width: @tablet-width) {
    background-image: url("../img/bg-hit-tablet.svg");
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/bg-hit.svg");
  }

  background-repeat: no-repeat;
}

.tariffs__cell--hit::before {
  content: "ХИТ";
  display: block;
  transform: rotate(-45deg);
  position: absolute;
  left: 9px;
  top: 15px;

  @media (min-width: @tablet-width) {
    left: 6px;
    top: 8px;
  }

  @media (min-width: @desktop-width) {
    top: 17px;
    left: 11px;
  }
}
