body {
  @background-light: #ffffff;
  @background-tinted: #f2f2f2;
  @background-dark: #1d2632;

  background-color: @background-dark;
  text-align: center;
}

img {

}

a {
  text-decoration: none;
  color: inherit;
}

blockquote {
  margin: 0px;
}
